@model List<MovieRecommender.Core.Models.Movie>

<h3>Top Rated Films</h3>
<div class="container">
    @foreach (var item in Model)
    {
        <partial name="_MovieCard" model="item" />
    }

</div>


