@model List<MovieRecommender.Core.Models.ViewModels.MovieViewModel>
    
    <div class="container" id="pageWrapper">
        <partial name="_MovieCard" model="Model" />
    </div>
    <!-- Footer -->

    <!-- Footer -->