<footer class="page-footer font-small navbar-dark info-color"
        style="margin-bottom:0px; width: 100%;"
        >
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="#"> MovieRecommender</a>
    </div>
</footer>