<!-- Footer -->
<footer class="page-footer font-small navbar-dark info-color"
        style="position: absolute; margin-bottom:0px; width: 100%;"
        >

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="#"> MovieRecommender</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->