@using System.Security.Claims;
@{ 
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
<!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">

        <a class="navbar-brand ml-lg-5" href="#" style="font-family:Helvetica;">MovieRecommender</a>
        <form class="form-inline active-cyan-4 ml-5" > 
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" id="search"
                   aria-label="Search">
            <a class="my-2 my-sm-0 ml-3"  onclick="searchMovie()"> <i class="fas fa-search" aria-hidden="true"></i></a>
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> @claimsIdentity.Name
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="#">My account</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
