<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesRecommender</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="~/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="~/mdb/css/style.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_Header" />
    }

    <div class="container">
        <main role="main" class="pb-3">
            <div class="container" id="pageWrapper">
                @RenderBody()
             </div>
        </main>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_Footer" />
    }

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/mdb/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/mdb.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
