<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesRecommender</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="~/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="~/mdb/css/style.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark primary-color fixed-top scrolling-navbar">
            <form class="form-inline">
                <a class="navbar-brand ml-lg-5" href="#" style="font-family:Helvetica;">MovieRecommender</a>
                <div class="md-form my-0 ml-5">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
            </form>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 fixed-bottom">

        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="#"> MovieRecommender</a>
        </div>

    </footer>
    <!-- Footer -->

    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script type="text/javascript" src="~/mdb/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="~/mdb/js/mdb.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
