@model MovieRecommender.Core.Models.Movie

    <div class="box">
        <div class="poster">
            <img class="card-img-top img-fluid" src="@Model.Poster" alt="Card image cap" />
        </div>
         <div class="box-sub">@Model.Title </div>
         <div class="rating"><span class="glyphicon glyphicon-star"></span>@Model.Rating</div>
    </div>