@model MovieRecommender.Core.Models.Movie

    <div class="box">
        <div class="poster">
            <img class="card-img-top img-fluid" src="//image.tmdb.org/t/p/w185/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg" alt="Card image cap" />
        </div>
         <div class="box-sub">@Model.Title </div>
         <div class="rating"><span class="glyphicon glyphicon-star"></span>3.5</div>
    </div>