@model MovieRecommender.Core.Models.Movie

    <div class="box">
        <div class="poster">
            <img class="card-img-top img-fluid" src="@Model.Poster" alt="Card image cap" />
        </div>
         <div class="box-sub">@Model.Title </div>
         <form class="rating">
             <label>
                 <input type="radio" name="stars" value="1" />
                 <span class="icon">★</span>
             </label>
             <label>
                 <input type="radio" name="stars" value="2" />
                 <span class="icon">★</span>
                 <span class="icon">★</span>
             </label>
             <label>
                 <input type="radio" name="stars" value="3" />
                 <span class="icon">★</span>
                 <span class="icon">★</span>
                 <span class="icon">★</span>
             </label>
             <label>
                 <input type="radio" name="stars" value="4" />
                 <span class="icon">★</span>
                 <span class="icon">★</span>
                 <span class="icon">★</span>
                 <span class="icon">★</span>
             </label>
             <label>
                 <input type="radio" name="stars" value="5" />
                 <span class="icon">★</span>
                 <span class="icon">★</span>
                 <span class="icon">★</span>
                 <span class="icon">★</span>
                 <span class="icon">★</span>
             </label>
         </form>
    </div>